{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_bookreport/myreports


    Example context (json):
    {
        
    }
}}


<div class="container-fluid">
    <div class="allreports" id="allreports">
        
        {{!
            Заголовок
        }}
        <br>
        <div>
            <h2>Все отчеты <span class="badge badge-secondary"></span></h2>
        </div>
        <br>


        {{!
            Фильтры
        }}
        <p>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#multiCollapseFilters" aria-expanded="false" aria-controls="multiCollapseFilters">Фильтры</button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExport" aria-expanded="false" aria-controls="multiCollapseExport">Экспорт</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseFilters">
                    <div class="card card-body">
                        <form class="row mx-2" id="generalform" action="allreports.php" method="POST">
                            <div class="col-w-4 filter">
                                <span>От </span>
                                <input type="date" name="calendar1" value="{{firstdaymonth}}"> 
                            </div>
                            <div class="col-w-4 ml-2 filter">
                                <span>До </span>
                                <input type="date" name="calendar2" value="{{lastdaymonth}}">
                            </div> 
                            <input class="btn btn-sm btn-report btn-outline-info col-md-2  ml-auto" name="submitfilters" type="submit" value='Применить'>                    
                        </form>   
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExport">
                    <div class="card card-body">
                        <form method="POST">
                            <input class="btn btn-sm btn-report btn-outline-success float-right" type="submit" name="export" value="XLS" />
                        </form>
                    </div>
                </div>
            </div>
        </div> 


        {{!
            Таблица
            balance table table-hover
        }}
        <br>
        <table class="display" id="reporttable">
            <thead>
                <tr>
                    <th>Автор</th>
                    <th>Книга</th>
                    <th>ФИО</th>
                    <th>Отдел</th>
                    <th>Дата</th>
                    <th>Тип</th>
                </tr>
            </thead>
            <tbody>
                {{#reportsdata}}
                <tr style="cursor: pointer;" onclick="window.location='../bookreport/userreport.php?id={{id}}&userid={{user_id}}'">                    
                    <td>{{author}}</td>
                    <td>{{book}}</td>
                    <td>{{firstname}} {{lastname}}</td>
                    <td>{{department}}</td>
                    <td>{{timecreated}}</td>
                    <td><img style="margin-right: 10px;" width="30px" src="../bookreport/pix/reportpix{{type}}.png"></td>                                       
                </tr>
                {{/reportsdata}} 
            </tbody>
        </table>     


    </div>
</div>
