{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_bookreport/index


    Example context (json):
    {
        
    }
}}
<h3 style="display:inline;"><a href="{{myreporturl}}" class="badge badge-primary">Мои отчеты</a></h3>
<h3 style="display:inline;"><a href="{{allreporturl}}" class="badge badge-primary">Все отчеты</a></h3>
<br>
<br>
<h2>Создать отчет <span class="badge badge-secondary"></span></h2>
<br>
<select class="form-control form-control-lg" name="typereport" id="typereport">
  <option value="default" selected>Отчет в виде ответов на вопросы</option>    
  <option value="presentation">Отчет в виде презентации</option> 
</select>
<div class="container-fluid">
    <br>      
    <form action="{{sendreporturl}}" method="POST" id="report">        
        <div class="form-group">
            <label for="defaulttype_book">Название книги</label>
            <input type="text" class="form-control" id="defaulttype_book" name="defaulttype_book" placeholder="Дубровский" value="{{book}}" required>
        </div>        
        <div class="col-md-12" style="position: relative; margin-top: 0px; margin-left: 0px;">
            <div class="list-group" id="show-list"></div>
        </div>       
        <div class="form-group">
            <label for="defaulttype_author">Автор</label>
            <input type="text" class="form-control" id="defaulttype_author" name="defaulttype_author" placeholder="А.С. Пушкин" value="{{author}}" required>
        </div>  
        <div class="form-group">
            <label for="defaulttype_mainactors">Основные действующие лица</label>
            <textarea class="form-control" id="defaulttype_mainactors" name="defaulttype_mainactors" rows="3" required>{{mainactors}}</textarea>
        </div>
        <div class="form-group">
            <label for="defaulttype_mainidea">Главная идея</label>
            <textarea class="form-control" id="defaulttype_mainidea" name="defaulttype_mainidea" rows="3" required>{{mainidea}}</textarea>
        </div>
        <div class="form-group">
            <label for="defaulttype_quotes">Запомнившиеся цитаты</label>
            <textarea class="form-control" id="defaulttype_quotes" name="defaulttype_quotes" rows="3" required>{{quotes}}</textarea>
        </div>
        <div class="form-group">
            <label for="defaulttype_conclusion">Вывод/Предложения к внедрению</label>
            <textarea class="form-control" id="defaulttype_conclusion" name="defaulttype_conclusion" rows="3" required>{{conclusion}}</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" id="submitstandartreport" name="submitstandartreport">Отправить</button>
    </form>

    <br>
    <div class="alert alert-primary" role="alert" id="autosavesuccess" style="display:none;">Черновик сохранен</div>   
</div>